*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    background-color: #ff6900;
    color: #fff;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    margin-bottom: 30px;
}

.logo{
    height: 30px;
    width: 100px;
}

header div{
    vertical-align: middle;
}

.conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1380px;
    margin: auto;
}

.img123{
    height: 440px;
    width: 300px;
    padding: 30px 10px;
}