*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    background-color: #ff6900;
    color: #fff;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    margin-bottom: 30px;
}

.logo{
    height: 30px;
    width: 100px;
}

header div{
    vertical-align: middle;
}

.conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1380px;
    margin: auto;
}

.img123{
    height: 500px;
    width: 350px;
    padding: 0px 5px;
    position: relative;
}

.info{
    padding: 0px 5px;
    margin-bottom: 30px;
}

.sconto{
    color: red;
}

.img456{
    height: 500px;
    width: 350px;
    padding: 0px 5px;
    display: none;
}

.box:hover .img456{
    display: block;
  
}

.box:hover.img123{ 
    display: none;
}

footer{
    height: 70px;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

